<div class="add-item-form item-collection__item ">
    <div class="card horizontal">

        <!-- Card image -->
        <div class="item__image card-image">
            <img src="{{ picture }}" class="item__uploaded-picture">
            <input type="file" class="item__uploaded-file">
            <div class="item__image-upload-action">
                <i class="material-icons">camera_alt</i>
            </div>
        </div>

        <!-- Card title -->
        <div class="card-stacked">
            <div class="card-content">

                <input type="text" placeholder="Type description" class="add-item__description">

                <a href="#" class="btn deep-purple lighten-1 right add-item">
                    Add item
                </a>

            </div>
        </div>
    </div>

</div>