<h2 class="center white-text">stensul email modules</h2>

<h5 class="center white-text">
    Total items: {{ count }}
</h5>

<div class="item-collection">

    {{{ addItemForm }}}

    {{{ items }}}
</div>
